<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Partners</h1>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <%= image_tag("deuxnains", width: "128") %>
                </div>
                <div class="col-md-2">
                    <%= image_tag("geekworld", width: "128") %>
                </div>
                <div class="col-md-2">
                    <%= image_tag("ipac", width: "128") %>
                </div>
                <div class="col-md-2">
                    <%= image_tag("liquidgear", width: "128") %>
                </div>
                <div class="col-md-2">
                    <%= image_tag("lugus", width: "128") %>
                </div>
                <div class="col-md-2">
                    <%= image_tag("nintendo", width: "128") %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <%= image_tag("prodimex", width: "128") %>
                </div>
                <div class="col-md-2">
                    <%= image_tag("prohelvet", width: "128") %>
                </div>
                <div class="col-md-2">
                    <%= image_tag("ridefreeway", width: "128") %>
                </div>
                <div class="col-md-2">
                    <%= image_tag("sae", width: "128") %>
                </div>
                <div class="col-md-2">
                    <%= image_tag("sony", width: "128") %>
                </div>
                <div class="col-md-2">
                    <%= image_tag("starsailorsleague", width: "128") %>
                </div>
            </div>
        </div>
    </div>
</div>
