<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Rules</h1>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <%= render 'game_rule_thumbnail', img_name: "league_of_legends", game: "League of Legends", pdf_url: "https://geneva-gaming-convention.com/res/doc/ggc_2016_lol_rules.pdf" %>
                </div>
                <div class="col-md-4">
                    <%= render 'game_rule_thumbnail', img_name: "csgo", game: "Counter-Strike: G.O", pdf_url: "https://geneva-gaming-convention.com/res/doc/ggc_2016_csgo_rules.pdf" %>
                </div>
                <div class="col-md-4">
                    <%= render 'game_rule_thumbnail', img_name: "hearthstone", game: "Hearthstone", pdf_url: "https://geneva-gaming-convention.com/res/doc/ggc_2016_hs_rules.pdf" %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <%= render 'game_rule_thumbnail', img_name: "rocket_league", game: "Rocket League", pdf_url: "https://geneva-gaming-convention.com/res/doc/ggc_2016_rl_rules.pdf" %>
                </div>
                <div class="col-md-4">
                    <%= render 'game_rule_thumbnail', img_name: "overwatch", game: "Overwatch", pdf_url: "https://geneva-gaming-convention.com/res/doc/ggc_2016_ow_rules.pdf" %>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
</div>
