<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="<%= root_path %>">
                    <%= image_tag("ggc_web", height: '100%') %>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tournaments <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Counter-Strike G.O", csgo_path %></li>
                            <li><%= link_to "League of Legends", lol_path %></li>
                            <li><%= link_to "LoL ARAM", aram_path %></li>
                            <li><%= link_to "Hearthstone", hs_path %></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Animations <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <% get_animations.each do |amination| %>
                            <li><%= link_to amination.name, animation_path(amination.id)%></li>
                            <% end %>
                            <% if is_admin %>
                            <li role="separator" class="divider"></li>
                            <li><%= link_to "New animation", new_animation_path%></li>
                            <% end %>
                        </ul>
                    </li>
                    <li><%= link_to "Planning", planning_path %></li>
                    <li><%= link_to "Map", map_path %></li>
                    <li><%= link_to "Rules", rules_path %></li>
                    <li><%= link_to "Partners", partners_path %></li>
                    <% if is_admin %>
                    <li><%= link_to "New user", new_user_path%></li>
                    <% end %>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <% if is_logged_in %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=current_logged_user.nickname %> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Me, Myself and I", user_path(current_logged_user.id )%></li>
                            <li><%= link_to "Log out", logout_path, method: :delete %></li>
                        </ul>
                    </li>
                    <% else %>
                    <li><%= link_to "Log in", login_path%></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </nav>
</header>
